/* ------------------------ reset  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  width: 1366px;
  margin: 0 auto;
  line-height: 1;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------ PORTFOLIO PAGE STYLES */
header, nav, main, footer {
  width: 100%;
}

header {
  background: #1B242F;
}

.container {
  width: 61.40%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* ----------------------------- showcase */
#showcase {
  background: linear-gradient(to bottom right, #3333cc 0%, #ccffff 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#showcase h1 {
  font-size: 2em;
  color: white
}

#showcase h1 span {
  color: rgb(200, 2, 139);
}

#showcase button {
  color: white;
  background: 0;
  padding: 5px 10px;
  margin-top: 20px;
  border: 1px solid white;
}

/* ----------------------------- nav */
header nav ul {
  display: flex;
  height: 50px;
  line-height: 50px;
}

header nav ul li {
  padding: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

header nav ul li a:hover {
  text-decoration: none;
  color: rgb(200, 2, 139);
}

/* ----------------------------- about */
.sub_title {
  font-size: 2em;
  text-align: center;
  margin: 40px 0;
}

.sub_title::after {
  content: '';
  width: 50px;
  height: 2px;
  display: block;
  background: rgb(170, 72, 166);
  margin: 10px auto;
}

.features {
  display: flex;
  margin: 0 auto;
}

.feature_card {
  text-align: center;
  width: 25%;
  max-width: 200px;
  padding: 20px
}

.feature_card img {
  width: 100px
}

.profile {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin: 60px 0
}

.about_me {
  width: 40%;
  text-align: center;
}

.about_me img {
  width: 300px;
  padding-bottom: 40px
}

.technologies {
  width: 40%;
}

/* --------------------------------- progress bar */
.tech_bar{
  width: 100%;
  display: flex;
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  background: rgb(208, 208, 208);
}
.tech_title{
  width: 30%;
  text-align: center;
}
.progress_box{
  text-align: right;
  color: black;
  padding-right: 30px;
  position: relative;
  width: 100%;
}
.actual_progress{
  background: rgb(200, 2, 139);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* --------------------------------- Projects */
#projects nav ul {
  display: flex;
}
#projects nav ul li{
  padding: 0 20px;
  list-style: none;
}
#projects nav ul li a{
  color: black;
  text-decoration: none;
}
.projects_box{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid
}
.project{
  flex-wrap: wrap;
  flex-grow:1;
  flex-basis: 25%;
  background: rgb(110, 77, 170);
  height:200px;
  margin: 2px;
  position: relative;
}



.hoverDiv{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.58);
  left: 0;
  top: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
  overflow: hidden;
}
.hoverDiv>div>h1{
font-size: 1.2rem;
position: relative;
}
.hoverDiv>div{
  position: relative;
  top: -100px;
}
.hoverDiv button{
  position: relative;
  bottom: -100px;
}

/* ----------------------------- blog */
.blogs{
  display: flex;
}
.blog_card{
  margin: 5px;
}
.blog_card > div{
  width: 100%;
  height: 200px;
  background: rgb(116, 7, 184)
}
.blog_card h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px 0;
}
.blog_card h4{
  font-weight: bold;
  color: rgb(97, 97, 97);

}
.blog_card h4::after{
  content: '';
  display: block;
  height: 2px;
  width: 40px;
  background: rgb(46, 157, 90);
  margin: 10px 0;
}
.blog_card p{
  color: rgb(97, 97, 97);
}
/* ----------------------------- contact */
#contact > div > p{
  text-align: center;
}
form{
  width: 80%;
  max-width: 350px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}
form input{
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
form textarea{
  height: 100px;
  margin-bottom: 10px;
}
form button{
  height: 30px;
  width: 100px;
  background: 0;
  border: 1px solid;
  align-self: flex-end;
}

/* ----------------------------- footer */
footer {
  height: 300px;
  background: rgb(11, 159, 27);
}
footer{
  text-align: center;
}
footer{
  position: relative;
}
footer > a{
  color: white;
  text-decoration: none;
  font-size: 2em;
  background: magenta;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  transform: rotate(-90deg);
  position: absolute;
  right: 0;
  left: 0;
  top: -20px;
  margin: 0 auto;
}
footer >div{
  padding: 50px
}
footer li{
  display: inline;
}
footer ul li a{
  background: rgb(137, 238, 207);
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
  line-height: 30px;
}
footer p{
  padding: 10px 0
}
















//
